*{
    margin: 0;
    padding:0;
}
section{
    width: 100%;
    height: auto;
}

/* L'entete */

header{
    height: 180px;
}
header nav{
    float: right;
    margin-top: 25px;
    position: relative;
}
header nav ul li{
    display: inline-block;
    text-decoration: none;
    margin-right: 15px;
}
ul{
    list-style: none;
}
.logo{
    float: left;
    margin-top: 32px;
    background-color: blue;
    border-radius: 60%;
    font-style:italic;
    color: aliceblue;
    font-weight: bold;
}
.wrapper{
    width: 995px;
    margin:0 auto;
    padding: 0 10px;
    /* border: 15px solid; */
    justify-content: center;
    height: 380px;

}
#entete{
    background-color: beige;
     
}
#activite{
    display: inline-block;
    margin-top: 15px;
}
 #button-1{
    display:block;
    clear: both;
    float: right;
    height:35px;
    border-radius:16px;
    /* border-color: blue; */
    justify-content: center;
    padding: 15px auto;
    text-decoration: none;
    
}
.bouton{
    display:block;
    width: 50%;
    border: 5px;
    height: 25px auto;
    border-radius:10px;
    justify-content: center;
    padding: 0 auto;
    color: rgb(255, 240, 240);
    background-color: blue;
    text-decoration: none;
}
button h2{
    color: aliceblue;
    text-decoration: none;
}
button a{
      text-decoration: none;
}
li a{
    text-decoration: none;
    color: black;
}

/* La Partie presentation */

#plus{
    width: 100%;
}
#project-contain{
    display: flex;
    /* border:2px solid red; */
    clear: both;
    height: auto;
    flex-direction: row-reverse;
}
#presentation-image{
    display: block;
    float: right;
    width: 45%;
    height: 45%;
 /* border: 15px solid; */
  border-image: round;
 display: flex;
 justify-content:flex-end;
 /* padding: 25px 0%; */
 background-color:  white;


}
img{
    margin-top: 15px;
    border-radius: 40%;
}
section div div ul {
    display: flex;
    border: 5px;
    justify-content: flex-end;
    background-color: beige;
    margin-bottom: 0%;
}
section div div ul li{
    display: inline-block;
    margin-right: 15px;
}

/* Section projets */
#portfolio{
    margin-bottom: 0%;
    height:100px;
}

#right{
    width: 100%;
    /* border: 5px solid red; */
    display: block;
    width: 100%;
    height: auto;
    /* position: relative; */
    clear: both;
    margin: 0% 15px;

}
#left{
    clear: both;
    width: 100%;
    height: auto;
    
    /* border: 5px solid greenyellow; */
    /* position: relative; */
    margin-right: 150px;
}
#projet-contain{
    display: flex;
    flex-direction: row-reverse;
    width: 980px;
    margin:0 auto;
    padding: 0 10px;
    /* border: 15px solid; */
    justify-content: center;
    height: auto;
}
#img-projet{
    margin-top:0%;
    border-radius: 0%;
    width: 50%;
    height: 100%;
    width: 100%;
}
#langage-contain{
    display: block;
    width: 980px;
    margin:0 auto;
    padding: 0 10px;
    justify-content: center;
    height: 100%;
    /* border: 5px solid yellow; */
    flex-direction: row-reverse;
    position: x;
}
.experience-logo{
    width: 50px;
    border-radius: 0%;
}
section#experiences ul{

    display: inline-block;
    /* border: 5px solid red; */
    width: 100%;
    justify-content: center;
}
section#experiences ul li{
    display: inline-block;
    justify-content: center;
    /* border: 5px solid red; */
    margin-left: 15%;
}
.input{
    display: block;
    background-color: blue;
    width: 75%;
    color: white;

}
/* Css du formulaire */
form {
    max-width: 500px;
     margin: 15px auto;
     padding: 100px 100px;
    float: right;
    width: 30%;
    height: 185px;
    background-color:whitesmoke;
    border: 2px solid white;
    border-radius: 7px;
  }
/*   
  label {
    display: block;
    margin-bottom: 5px;
  }
   */
  input, textarea {
    width: 96%;
    padding: 8px;
    margin-bottom: 25px;
    /* border: 1px solid #ccc; */
    border-radius: 7px;
    background-color: rgb(4, 4, 67);
    height: auto;
    color: white;
  }
  #formulaire-button{
    width: 50%;
  }
  
  button#formulaire-button {
    color: white;
    padding: 20px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(4, 4, 67);
    height: 20px;
    padding: 2px 2px;

  }

  
  button#formulaire:hover {
    background-color: #45a049;
  }
  #contact-contain{
    display: flex;
    height: auto;
    flex-direction: row;
    align-items: center;
  }
  #contact-left{
    /* border: 2px solid black; */
    float: left;
    width: 50%;
    height: auto;
  }
.service-desc{
    /* border: 2px solid red; */
    width: 40%;
    margin: 2% auto;
}
#services-contain{
    height: auto;
    display: flex;
    /* border: 2px solid blue; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.service-div{
    display: flex;
    padding: 0%;
    /* border: 2px solid brown; */
    justify-content: center;
    width: 50%;
    height: 50%;
    margin: 0%;
}
#services{
    background-color: aqua;
    margin: 1% auto;
}
#contact{
    background-color: beige;
    margin-bottom: 0%;
}

/* Le footer */

#footer{
    display: flex;

}
footer div.wrapper{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
i{
    justify-content: center;
    padding-top: 15px;
    color: rgb(7, 7, 88);
    padding-left: 4px;
}
.footer-contain{
    justify-content: center;
    padding-top: 20px;
    border: #45a049;
    display: flex;
    padding-top: 7px;
}
footer h3,h4{
    display: inline-block;
    padding-top: 10px;
    padding-left: 7px;
}
footer span.logo{
padding-bottom: 10px;
}